/** Relevant to all pages in the setup and edit person procedure */
 .container {
     padding: 40px 10px 10px 10px;
     border-radius: 10px;
}
 .page-heading{
     font-size: 2rem;
     text-align: center;
}
 .radioSpacer {
     margin-top: 20px;
}
 .info-box {
     margin-bottom: 20px;
}
.warning-text::placeholder{
    color: red;
}
 [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
     border: 2px solid rgba(87,15,87,1);
}
 [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
     background-color: rgba(87,15,87,1);
}
/* MEDIA QUERIES */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
 @media (min-width:600px){
     .page-heading {
         font-size: 3rem;
    }
     .container {
         padding: 40px 10px 10px 40px;
         border-radius: 10px;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
 @media (min-width:801px) {
}
/* big landscape tablets, laptops, and desktops */
 @media (min-width:1025px) {
}
