* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgb(34,65,167);
    background: radial-gradient(circle, rgba(34,65,167,1) 0%, rgba(48,96,193,1) 15%, rgba(60,121,205,1) 31%, rgba(45,123,193,1) 52%, rgba(52,150,214,1) 68%, rgba(27,130,198,1) 80%);
}

.btn-large {
    font-size: 1rem;
    border-radius: 30px;
    margin-bottom: 20px;
}

.btn-small {
    margin: 5px;
    font-size: 1rem;
    border-radius: 30px;
}

.clear {
    background-color: transparent;
}

.top-space-large {
    margin-top: 50px;
}

.space {
    margin: 40px;
}

.text-shadow {
    text-shadow: 2px 1.5px 1.5px rgba(0, 0, 0, 0.5)
}

.box-shade {
    box-shadow: 0px 0px 10px 1px rgba(87,15,87,1);
}

.page-heading {
    font-size: 2rem;
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: rgb(24, 7, 65);
}


.page-sub-heading {
    font-size: 1.2rem;
    margin-left: 20px;
    margin-bottom: 40px;
    color: rgb(24, 7, 65);
}

.flash-messages {
    color: rgb(24, 7, 65);
    font-size: 2rem;
    margin-top: 60px;
    box-shadow: 0px 0px 10px 1px rgba(87,15,87,1);
    padding: 10px;
    color: #9fc5f8;

}


/* ALTER STYLING OF MATERIALIZE NAV AND SIDE BAR */
.sidenav {
    background: rgb(60,81,152);
    background: radial-gradient(circle, rgba(60,81,152,1) 2%, rgba(17,42,124,1) 72%);
    padding-top: 20px;
}

.sidenav li>a {
    color: rgb(159, 197, 248);
    font-size: 1.2rem;
    transition: 1.2s;
}

.sidenav li>a:hover {
    background-color: transparent;
    color:  rgb(116, 105, 192);
}

nav ul a {
    color: rgb(159, 197, 248);
    font-size: 1.5rem;
    font-weight: bold;
    transition: 1.2s;
}

nav ul a:hover {
    background-color: transparent;
    color:  rgb(153, 138, 240);
}

/* REMOVE BOX SHADOW FROM MATERIALIZE NAVBAR  */
nav {
    box-shadow: none;
}

/* ALTER STYLE OF HAMBURGER */
.fa-bars:before {
    color: rgb(159, 197, 248);
}

/* TOP LOGO RELATED STYLING */
 #top-logo-container {
     position: absolute;
     margin-top: -50px;
     margin-left: 20px;
     height: 100px;
     width: 100px;
     background-color: transparent;
     display: flex;
     justify-content: left;
}
 #top-logo-image{
     background-image: url("../images/circles-logo-1024x.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     width: 300px;
     height: 100%;
}

/* OVERRIDE MATERIALIZE GREEN ON INPUTS */
input:focus {
  border-bottom: 1px solid royalblue !important;
  box-shadow: 0 1px 0 0 royalblue !important;
}

label.active {
  color: royalblue !important;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: royalblue;
}