/* LOGO RELATED STYLING */
 #logo-container {
     height: 300px;
     width: 100%;
     background-color: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
}
 #logo-image{
     background-image: url("../images/circles-logo-1024x.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     width: 300px;
     height: 100%;
}

/* SEARCH */
.search-button,
.delete-button {
    margin-top: 50px;
    height: 50px;
    padding-top: 20px;
    border: 0.5px solid rgb(159, 197, 248);
    border-radius: 20px;
    font-size: 2rem;
    color: rgb(159, 197, 248);
    transition: 1.2s;
}

.search-button:hover,
.delete-button:hover {
    box-shadow: 0px 0px 10px 1px rgba(87,15,87,1);
    color: white;
}

.search-container{
    display: none;
}

.delete-container{
    display: none;
}

input:focus::placeholder {
    color: white;
}

/* REMOVE MATERIALIZE BOTTOM BAR */
input[type=text]:not(.browser-default) {
    border-bottom: 0.5px solid lightblue;
}

.search-btn,
.delete-btn {
    background-color: transparent;
    border: none;
    color: lightblue;
    font-size: 3rem;
    cursor: pointer;
    height: 20px;
}

.search-result-details,
.search-result-buttons {
    margin:auto;
}

/* To Eliminate small green Materialize box over search button */
button:focus {
    background-color: transparent;
}

.col{
    padding-left: 40px;
}

.results-heading{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(87,15,87,1);
    padding: 10px;
    color: #9fc5f8;
}

.search-result{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #4a148c;
    color: #c0c0c0;
    font-size: 1.4rem;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 1px rgba(87,15,87,1);
    overflow: hidden;
}

/* MEDIA QUERIES */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px){
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {
    .btn-small {
        font-size: 1.4rem;
    }   
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {

}