/* LOGO RELATED STYLING */
 #logo-container {
     height: 300px;
     width: 100%;
     background-color: transparent;
     display: flex;
     justify-content: center;
     align-items: center;
}
 #logo-image{
     background-image: url("../images/circles-logo-1024x.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     width: 300px;
     height: 100%;
}

/* SEARCH */
.search-container {
    height: 150px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}


#person-search {
    border: 1px solid transparent;
    border-radius: 20px;
    width: 340px;
    border: 0.5px solid rgb(115, 159, 218);
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

#person-search:hover,
#person-search:focus-within {
    box-shadow: 0px 0px 10px 1px rgba(87,15,87,1);
        
}

#search-input {
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-size: 1.9rem;
    color: #eeeeee;
}

#search-input::-webkit-input-placeholder {
    color:rgb(115, 159, 218);
    font-size: 1.5rem;

}
#search-input:focus::-webkit-input-placeholder {
    color: #eeeeee;
}

.search-btn {
    background-color: transparent;
    border: none;
    color:#4110b3;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Change the autofil white to transparent 
Credit Stack overflow user Nathan-White(4395746) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
