{% extends "base.html" %}



{% block content %}
<!-- 404 ERROR -->
<div class="container">
	<div class="row center-align red-text text-darken-4">
		<h4 class="col s12"><strong>500</strong> Thats an error</h4>
		<h5 class="col s12">Sorry but that is a server error, you can return home by clicking below</h5>
		<a href="{{ url_for('home') }}" class="col s10 offset-s1 btn-large form-button text-shadow top-space-xlarge">
			Home<i class="fas fa-arrow-alt-circle-right left"></i> </a>
	</div>
</div>
{% endblock %}