{% extends "base.html" %}
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/add_person.css')}}" type="text/css"/>
        <title>Circles | Add a Person</title>
    {% endblock %}
{% block content %}

<!-- LOGO CONTAINER -->
<div id="top-logo-container">
   <a  id="top-logo-image" href="{{ url_for('home') }}"></a>
</div>

<!-- FLASH MESSAGES -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <h4 class="center-align text-shadow flash-messages">{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- PAGE HEADING -->
<h2 class="page-heading text-shadow">Setup a new Person</h2>
<h4 class="page-sub-heading text-shadow">Step 1 of 5</h4>

<!-- MATERIALIZE CONTAINER WITH FORM TEXT INPUT -->
<div class="container white box-shade">
   <div class="row">
      <form name="form" class="col s12" method="POST" action="{{ url_for('add_person') }}" autocomplete="off">
         <!-- FIRST NAME -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
               <input id="first_name" name="first_name" type="text" class="validate" required>
               <label for="first_name">First Name (*Req)</label>
            </div>
         </div>
         <!-- LAST NAME -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
               <input id="last_name" name="last_name" type="text" class="validate" required>
               <label for="last_name">Last Name (*Req)</label>
            </div>
         </div>
         <!-- BIRTH SURNAME -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
               <input id="birth_surname" name="birth_surname" type="text" class="validate">
               <label for="birth_surname">Birth Surname (If Different)</label>
            </div>
         </div>
         <!-- SELECT GENDER -->
         <div class="row">
            <div class="input-field col s8 m6 offset-s0 offset-m1">
               <i class="fas fa-venus-mars prefix blue-text text-darken-4"></i>
               <select id="gender" name="gender" class="validate" required>
                  <option value="" disabled selected>Select Gender</option>
                  <option value="female" class="validate">Female</option>
                  <option value="male" class="validate">Male</option>
               </select>
               <label>Select Gender (*Req)</label>
            </div>
         </div>
         <!-- DOB -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-calendar-alt prefix blue-text text-darken-4"></i>
               <input id="dob" name="dob" type="text" class="validate datepicker" readonly="readonly">
               <label for="dob">Date of Birth (*Req)</label>
            </div>
         </div>
         <!-- DATE OF DEATH -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-calendar-times prefix blue-text text-darken-4"></i>
               <input id="dod" name="dod" type="text" class="validate datepicker">
               <label for="dod">Date of Death</label>
            </div>
         </div>
         <!-- BIRTH ADDRESS -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-address-card prefix blue-text text-darken-4"></i>
               <input id="birth_address" name="birth_address" type="text" class="validate">
               <label for="birth_address">Birth Address</label>
            </div>
         </div>
         <!-- OTHER ADDRESS -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-address-card prefix blue-text text-darken-4"></i>
               <input id="rel_address" name="rel_address" type="text" class="validate">
               <label for="rel_address">Relevant Address</label>
            </div>
         </div>
         <!-- RELEVANT INFORMATION -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-info-circle prefix blue-text text-darken-4"></i>
               <textarea id="person_info" name="person_info" minlength="0"
                  maxlength="2000" class="materialize-textarea validate"></textarea>
               <label for="person_info">Relevant Information</label>
            </div>
         </div>
         <!-- SUBMIT BUTTON -->
         <div class="row">
            <div class="col s12 center-align">
               <button type="submit" class="col s10 m5 push-s1 xl4 push-xl1 btn-large form-button text-shadow">
               <i class="fas fa-user-plus left"></i>Add Person
               </button>
               <a href="{{ url_for('add_person') }}" class="col s10 m5 push-s1 push-m1 xl4 push-xl3 btn-large form-button text-shadow">
               Clear<i class="fas fa-times-circle left"></i> </a>
            </div>
         </div>
      </form>
   </div>
</div>

{% endblock %}
<!-- SCRIPTS -->
{% block scripts %}
    <script src="{{ url_for('static', filename='js/validate.js') }}"></script>
{% endblock scripts %}