{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_person.css')}}" type="text/css"/>
{% endblock %}

{% block content %}

	<!-- LOGO CONTAINER -->
    <div id="top-logo-container">
      <a  id="top-logo-image" href="{{ url_for('home') }}"></a>
    </div>

    <!-- FLASH MESSAGES -->
    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row">
                        <h4 class="center-align text-shadow flash-messages">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    
    
    <h2 class="page-heading text-shadow">Add {{ person.first_name.capitalize() }}'s Children
    <br><strong class="text-shadow"><h4>Step 4 of 5</h4></strong>
    </h2>
	{% if existing_children|length > 0 %}
	<div class="container info-box white box-shade">
		<h5 class="text-shadow">{{ person.first_name.capitalize() }}'s current children: </h5>
        {% for child, item in existing_children.items() %}
            <a href="{{ url_for('edit_siblings', person_id=item._id) }}" class="btn-large indigo darken-4">{{ item.first_name }} {{ item.last_name }}</a>
        {% endfor %}
	</div>
    {% endif %}

    <div class="container white box-shade">
		<div class="row">
			<form class="col s12" method="POST" action="{{ url_for('edit_children', person_id=person._id) }}" autocomplete="off">
				<!-- ENTER CHILDS INFORMATION -->
                <!-- SELECT THE CHILDS PARENTS -->
                {% if persons_spouse_partners|length > 0 %}
				<div class="row">
                <h5 class="text-shadow">Add {{ person.first_name.capitalize() }}'s Children</h5>
					<h6 class="col s12 m10 offset-s0 offset-m1"><strong>Firtly, lets select this childs parents:</strong></h6>
					{% for key, spouse_partner in persons_spouse_partners.items() %}
					<p class="col s12 m10 offset-s0 offset-m1">
						<label>
							<input class="with-gap" id="child_parents" name="child_parents" type="radio" value="{{ spouse_partner._id }}" required/>
							<span class="blue-text text-darken-4""><strong>{{ spouse_partner.first_name.capitalize() }} and {{ person.first_name.capitalize() }}</strong></span>
						</label>
					</p>
					{% endfor %}
				</div>
                {% endif %}
                <!-- FIRST NAME -->
				<div class="row"> 
					<div class="input-field col s12 m10 offset-s0 offset-m1">
						<i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
						<input id="child_first_name" name="child_first_name" type="text" class="validate" required>
						<label for="child_first_name">First Name</label>
					</div>
				</div>
                <!-- LAST NAME -->
				<div class="row">
					<div class="input-field col s12 m10 offset-s0 offset-m1">
						<i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
						<input id="child_last_name" name="child_last_name" type="text" class="validate" required>
						<label for="child_last_name">Last Name</label>
					</div>
				</div>
                <!-- SELECT GENDER -->
				<div class="row">					
					<div class="input-field col s8 m6 offset-s0 offset-m1">
                        <i class="fas fa-venus-mars prefix blue-text text-darken-4"></i>
						<select id="gender" name="gender" class="validate" required>
				            <option value="" disabled selected>Select Gender</option>
				            <option value="female" class="validate">Female</option>
				            <option value="male" class="validate">Male</option>
				        </select>
                        <label>Select Gender</label>
					</div>
				</div>
                <!-- DOB -->
                <div class="row">
                    <div class="input-field col s12 m10 offset-s0 offset-m1">
                        <i class="fas fa-calendar-alt prefix blue-text text-darken-4"></i>
                        <input id="child_dob" name="child_dob" type="text" class="validate datepicker" required>
                        <label for="child_dob">Date of Birth</label>
                    </div>
                </div>
                <!-- SUBMIT BUTTON -->
				<div class="row">
					<div class="col s12 center-align">
						<button type="submit" class="btn-large deep-purple darken-2 text-shadow">
				            Add this Child <i class="fas fa-user-friends left"></i>                     
				        </button>
                    </div>
                    <div class="col s12 center-align">
                        <a href="{{ url_for('edit_children', person_id=person._id) }}" class="btn-large green darken-4 text-shadow">skip</a>
                    </div>
				</div>
			</form>
		</div>
    </div>
       

    
    
{% endblock %}