{% extends "base.html" %}
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/add_person.css')}}" type="text/css"/>
        <title>Circles | Login</title>
    {% endblock %}
{% block content %}

<!-- LOGO CONTAINER -->
<div id="top-logo-container">
   <a  id="top-logo-image" href="{{ url_for('home') }}"></a>
</div>

<!-- FLASH MESSAGES -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <h4 class="center-align text-shadow flash-messages">{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<!-- PAGE HEADING -->
<h2 class="page-heading text-shadow">{{ title }}</h2>
<h4 class="page-sub-heading text-shadow">Under Construction - Please be patient</h4>

<div class="container white box-shade">
   <div class="row">
      <form method="POST" action="" class="col s12">
          <!-- Add the csrf token using hidden_tag() -->
        {{ form.hidden_tag() }}

        <!-- Username -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
               {{ form.email.label }}
               {{ form.email }}
            </div>
         </div>

      </form>
    </div>
</div>
{% endblock %}
<!-- SCRIPTS -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/validate.js') }}"></script>
{% endblock scripts %}