{% extends "base.html" %}
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/add_person.css')}}" type="text/css"/>
        <title>Circles | Register</title>
    {% endblock %}
{% block content %}

<!-- LOGO CONTAINER -->
<div id="top-logo-container">
   <a  id="top-logo-image" href="{{ url_for('home') }}"></a>
</div>

<!-- FLASH MESSAGES -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="row">
                <h4 class="center-align text-shadow flash-messages alert-{{ category }}">{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<!-- PAGE HEADING -->
<h2 class="page-heading text-shadow">{{ title }}</h2>
<h4 class="page-sub-heading text-shadow">Under Construction - Please be patient</h4>

<div class="container white box-shade">
    <!-- Existing acc check -->
    <div class="row">
        <div class="input-field col s12 m10 offset-s0 offset-m1">
            <h6>Already have an account? Then use <a href="{{ url_for('login') }}" aria-label="Click to Login">Login</a> </h6>
        </div>
    </div>
   <div class="row">
      <form method="POST" action="" class="col s12">
          <!-- Add the csrf token using hidden_tag() -->
        {{ form.hidden_tag() }}

        <!-- Username -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
               {{ form.username.label }}
                <!-- Check for validation errors -->
                {% if form.username.errors %}
                    {{ form.username(class="red-text text-darken-2") }}
                    <div class="red-text text-darken-2">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                <!-- else just display the content -->
                {% else %}
                    {{ form.username }}
                {% endif %}
            </div>
         </div>
         <!-- email address -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
               {{ form.email.label }}
               <!-- Check for validation errors -->
                {% if form.email.errors %}
                    {{ form.email(class="red-text text-darken-2") }}
                    <div class="red-text text-darken-2">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                <!-- else just display the content -->
                {% else %}
                    {{ form.email }}
                {% endif %}
            </div>
         </div>
         <!-- Password -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
               {{ form.password.label }}
               {<!-- Check for validation errors -->
                {% if form.password.errors %}
                    {{ form.password(class="red-text text-darken-2") }}
                    <div class="red-text text-darken-2">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                <!-- else just display the content -->
                {% else %}
                    {{ form.password }}
                {% endif %}
            </div>
         </div>

         <!-- Confirm Password -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
               {{ form.confirm_password.label }}
               <!-- Check for validation errors -->
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="red-text text-darken-2") }}
                    <div class="red-text text-darken-2">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                <!-- else just display the content -->
                {% else %}
                    {{ form.confirm_password }}
                {% endif %}
            </div>
         </div>

         <!-- Register Button -->
         <div class="row">
            <div class="col s12 center-align">
               {{ form.register(class="col s6 push-s3 btn-large form-button text-shadow") }}
            </div>
         </div>

      </form>
    </div>
</div>
{% endblock %}
<!-- SCRIPTS -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/validate.js') }}"></script>
{% endblock scripts %}