{% extends "base.html" %}
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}" type="text/css"/>
        <title>Circles | Register</title>
    {% endblock %}
{% block content %}

<!-- LOGO CONTAINER -->
<div id="top-logo-container">
    <a  id="top-logo-image" href="{{ url_for('home') }}"></a>
</div>

<!-- FLASH MESSAGES -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="row">
                <h4 class="center-align text-shadow flash-messages">{{ message }}</h4>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!-- PAGE HEADING -->
<h2 class="page-heading text-shadow">Register for an Circles Account</h2>
<h4 class="page-sub-heading text-shadow">Please enter your details below..</h4>

<!-- MATERIALIZE CONTAINER WITH FORM TEXT INPUT -->
<div class="container white box-shade">
   <div class="row">
      <form name="form" class="col s12" method="POST" action="{{ url_for('register') }}" autocomplete="off">
         <!-- Username -->
         <div class="row">
            <div class="input-field col s12 m10 offset-s0 offset-m1">
               <i class="fas fa-user-circle prefix blue-text text-darken-4"></i>
               <input id="username" name="username" type="text" class="validate" required>
               <label for="username">Username (*Req)</label>
            </div>
         </div>

         <!-- NEW PASSWORD -->
        <div class="row center-align">
            <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
                <input id="password" name="password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5-15}$" placeholder="Enter New Password" class="validate" autocomplete="off" required>
            <i class="fas fa-user-lock icon-4x"></i>
            </div>
        </div>
        <!-- CONFIRM NEW PASSWORD -->
        <div class="row center-align">
            <div class="col s10 m8 l6 offset-s1 offset-m2 offset-l3">
                <input id="repeat_password" name="repeat_password" type="password" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5-15}$" placeholder="Confirm New Password" class="validate" autocomplete="off" required>
                <i class="fas fa-user-lock icon-4x"></i>
            </div>
        </div>
        <!-- SUBMIT BUTTON -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="col s10 m5 push-s1 xl4 push-xl1 btn-large form-button text-shadow">
                    <i class="fas fa-user-plus left"></i>Submit
                </button>
                <a href="{{ url_for('home') }}"
                    class="col s10 m5 push-s1 push-m1 xl4 push-xl3 btn-large form-button text-shadow">
                    Cancel<i class="fas fa-times-circle left"></i> </a>
            </div>
        </div>






         <!-- SUBMIT BUTTON -->
         <div class="row">
            <div class="col s12 center-align">
               <button type="submit" class="col s10 m5 push-s1 xl4 push-xl1 btn-large form-button text-shadow">
               <i class="fas fa-user-plus left"></i>Add Person
               </button>
               <a href="{{ url_for('add_person') }}" class="col s10 m5 push-s1 push-m1 xl4 push-xl3 btn-large form-button text-shadow">
               Clear<i class="fas fa-times-circle left"></i> </a>
            </div>
         </div>
      </form>
   </div>
</div>
{% endblock %}
<!-- SCRIPTS -->
{% block scripts %}
<script src="{{ url_for('static', filename='js/manage_people.js') }}"></script>
{% endblock scripts %}